actualBudgetId: "myBudgetId" # found under "advanced" in your Actual settings
investments:
  stocks:
    actualAccount: "Index Funds"
    tickers:
      - VOO: 10
      - VTI: 10
      - VXUS: 10
  crypto:
    actualAccount: "Coinbase"
    tickers:
      - ETH: 10
      - BTC: 10