actualBudgetId: "myBudgetId" # found under "advanced" in your Actual settings
cryptoCompareApiKey: "myAPIkey" # get key here: https://min-api.cryptocompare.com/
alphaAdvantageApiKey: "myAPIkey" # get key here: https://www.alphavantage.co/support/#api-key
investments:
  stocks:
    actualAccount: "Index Funds"
    payeeName: "Stock Market"
    tickers: # can only have max 5 stock tickers due to AlphaAdvantage free-tier limits
      - VOO: 10
      - VTI: 10
      - VXUS: 10
  crypto:
    actualAccount: "Coinbase"
    payeeName: "Crypto Gods"
    tickers:
      - ETH: 10
      - BTC: 10